.prof-img {
  width: 400px;
  border-radius: 100px;
}
.con-div {
  margin-top: 50px;
}
#about {
  margin-top: 40px;
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  text-align: center;
}
.about-content {
  display: flex;
  gap: 80px;
  margin-left: 10%;
}
.content-para p {
  font-size: 30px;
  text-align: justify;
}

@media (max-width: 768px) {
  .mob-img {
    display: none;
  }
}
@media (max-width: 1024px) {
  .prof-img {
    width: 90%;
    height: 100%;
  }
}
