.lists {
  border: 2px solid red;
  border-radius: 30px;

  height: 300px;
  align-content: center;
}
.grids :hover {
  box-shadow: 0 8px 12px 0 rgb(252, 44, 44);
}
.lists h3 {
  background: linear-gradient(259deg, #095bae 2.87%, #e2f203 106.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grids {
  display: grid;
  grid-template-columns: auto auto;
}
.lt {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .grids {
    grid-template-columns: auto;
  }
}
.under-line {
  background: linear-gradient(180deg, #cc5003f3 50.87%, #f6d30a 106.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
